.notify
  button.close.notify__close(type='button', data-dismiss='modal', aria-label='Close')
    i.fa.fa-close
  .notify__item
    .notify__box
      .notify__photo
        img.img-responsive.notify__img(src='img/notify1.png', alt='notify1')
      .notify__content
        p.notify__text Посетитель из Ровно оставил заявку на участие в туре
  .notify__item
    .notify__box
      .notify__photo
        img.img-responsive.notify__img(src='img/notify2.png', alt='notify2')
      .notify__content
        p.notify__text Посетитель из Киева оставил заявку на консультацию
  .notify__item
    .notify__box
      .notify__photo
        img.img-responsive.notify__img(src='img/notify3.png', alt='notify3')
      .notify__content
        p.notify__text Посетитель из Ровно скачал каталог пригнанных автомобилей
  .notify__item
    .notify__box
      .notify__photo
        img.img-responsive.notify__img(src='img/notify4.png', alt='notify4')
      .notify__content
        p.notify__text Посетитель из Ровенской области заказал обратный звонок
  .notify__item
    .notify__box
      .notify__photo
        img.img-responsive.notify__img(src='img/notify5.png', alt='notify5')
      .notify__content
        p.notify__text Посетитель из Луцка оставил заявку на участие в туре