/* ------------------------------------------------------------------ */
/* O L D - B R O W S E R    J R E J E C T    N O T I F I C A T I O N  */
/* ------------------------------------------------------------------ */
#jr_overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 2147483646;
}

#jr_wrap {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 2147483647;
}

#jr_header {
  display: block;
  margin: 0;
  margin-bottom: 0.5em;
  padding: 5px;
  padding-bottom: 0;
  font: bold 1.3em/1 Helvetica, Arial, sans-serif;
  color: #333;
}

#jr_inner {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  height: auto;
  background: #FFF;
  border: 1px solid #CCC;
  color: #4F4F4F;
  font: 400 12px/1 "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#jr_inner p {
  padding: 5px;
  margin: 0;
}

#jr_inner ul {
  margin: 0;
  padding: 0;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}

#jr_inner ul li {
  margin: 0 10px 10px 10px;
  padding: 0;
  width: 120px;
  height: 122px;
  float: left;
  text-align: center;
  cursor: pointer;
}

#jr_inner li a {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 0.8em;
  text-decoration: none;
}

#jr_inner li a:hover {
  text-decoration: underline;
}

#jr_inner .jr_icon {
  margin: 1px auto;
  padding: 0;
  width: 100px;
  height: 100px;
  background: transparent no-repeat scroll left top;
  cursor: pointer;
}

#jr_close {
  margin: 0;
  padding: 0;
  clear: both;
}

#jr_close a {
  display: block;
  margin: 0;
  padding: 0;
  width: auto;
  color: #000;
  text-decoration: underline;
}

#jr_close p {
  margin: 0;
  padding: 10px 0 0 0;
}

/* ---------------------------------------- */
/* G E N E R A L    S T Y L E               */
/* ---------------------------------------- */
.ic {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.ic:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
}

.ic--cars:before {
  width: 554px;
  height: 165px;
  background: url(../img/sprite.png) 0px 0px no-repeat;
}

.ic--flag:before {
  width: 35px;
  height: 40px;
  background: url(../img/sprite.png) -683px -335px no-repeat;
}

.ic--flagcolor:before {
  width: 35px;
  height: 40px;
  background: url(../img/sprite.png) -564px -412px no-repeat;
}

.ic--light:before {
  width: 109px;
  height: 67px;
  background: url(../img/sprite.png) -564px -335px no-repeat;
}

.ic--question:before {
  width: 16px;
  height: 16px;
  background: url(../img/sprite.png) -728px -335px no-repeat;
}

.ic--reason1:before {
  width: 190px;
  height: 298px;
  background: url(../img/sprite.png) 0px -175px no-repeat;
}

.ic--reason2:before {
  width: 181px;
  height: 146px;
  background: url(../img/sprite.png) -564px -179px no-repeat;
}

.ic--reason3:before {
  width: 197px;
  height: 169px;
  background: url(../img/sprite.png) -564px 0px no-repeat;
}

.ic--reason4:before {
  width: 189px;
  height: 200px;
  background: url(../img/sprite.png) -200px -175px no-repeat;
}

/* form */
.text-danger {
  color: #b94a48;
  text-align: left;
}

.form-group.error .form-control {
  border-color: #b94a48;
}

[type=submit]:disabled {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

.ic {
  vertical-align: top;
}

a {
  outline: none;
}

a:hover, a:focus {
  text-decoration: none;
  outline: none;
}

* {
  outline: 0 !important;
}

/* modal */
.modal {
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.modal.show {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-dialog {
  position: relative;
  margin: auto;
}

.body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.main {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.button {
  padding: 18px 15px 17px;
  text-align: center;
  background-color: #ffbe11;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#b67f00), to(#e08212));
  background-image: -webkit-linear-gradient(bottom, #b67f00 0%, #e08212 100%);
  background-image: linear-gradient(to top, #b67f00 0%, #e08212 100%);
  text-shadow: 0.5px 0.9px 2px rgba(255, 255, 255, 0.35);
  color: #1b1b1b;
  font: 700 14px/16px "GothamPro", sans-serif;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  letter-spacing: 1px;
}

.button--size {
  width: 100%;
}

.form__input {
  color: #1b1b1b;
  font: 400 14px/16px "GothamPro", sans-serif;
  padding: 18px 15px 17px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

/* ---------------------------------------- */
/* H O M E    P A G E    S T Y L E          */
/* ---------------------------------------- */
.heading {
  font: 900 30px/32px "GothamPro", sans-serif;
  color: #212121;
  text-align: center;
}

.heading--white {
  color: #fff;
}

@media only screen and (min-width: 992px) {
  .heading {
    font: 900 36px/42px "GothamPro", sans-serif;
  }
}

/* ---------------------------------------- */
/* I N T R O    S T Y L E                   */
/* ---------------------------------------- */
.intro {
  padding: 80px 0;
  overflow: hidden;
}

.intro__heading {
  margin-bottom: 25px;
}

.intro__elem {
  margin-bottom: 25px;
  text-align: center;
}

.intro__text {
  font: 500 18px/27px "GothamPro", sans-serif;
  color: #212121;
  text-align: center;
}

.intro__icon {
  display: inline-block;
  height: 70px;
  width: 70px;
  background-color: #ffb71d;
  border: 1px solid white;
  -webkit-box-shadow: 0 0 25px rgba(255, 183, 29, 0.55);
          box-shadow: 0 0 25px rgba(255, 183, 29, 0.55);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  text-align: center;
  line-height: 62px;
  margin-bottom: 15px;
}

.intro__icon img {
  display: inline-block;
  height: 40px;
  width: 40px;
}

.intro__picture {
  height: 300px;
}

.intro__img {
  position: absolute;
  top: 35%;
}

.intro__img img {
  max-width: 100%;
}

.intro__img--2 {
  left: 10px;
  margin-top: 15px;
}

.intro__img--3 {
  left: 20px;
  margin-top: 30px;
}

.intro__zoom {
  position: absolute;
  top: -110px;
  left: 0;
}

@media only screen and (min-width: 540px) {
  .intro__zoom {
    top: -85px;
    left: 25px;
  }
}

@media only screen and (min-width: 760px) {
  .intro__heading {
    margin-bottom: 50px;
  }
  .intro__elem {
    margin-bottom: 40px;
  }
  .intro__image {
    display: table-cell;
    vertical-align: middle;
  }
  .intro__info {
    display: table-cell;
    vertical-align: middle;
    padding-left: 30px;
  }
  .intro__text {
    text-align: left;
  }
  .intro__picture {
    position: relative;
    height: 340px;
  }
  .intro__img {
    position: absolute;
    top: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
            transform: translate3d(2000px, 0, 0);
  }
  .intro__img--2 {
    left: 20px;
  }
  .intro__img--3 {
    left: 40px;
  }
  .intro__zoom {
    position: absolute;
    top: -80px;
    left: 60px;
    z-index: 25;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .intro__light--1 {
    position: absolute;
    top: 125px;
    left: -40px;
  }
  .intro__light--2 {
    position: absolute;
    top: 130px;
    left: 150px;
  }
  @-webkit-keyframes zoomIn {
    from {
      opacity: 0;
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes zoomIn {
    from {
      opacity: 0;
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  .zoomIn {
    -webkit-animation-name: zoomIn;
            animation-name: zoomIn;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: 3.5s;
            animation-delay: 3.5s;
  }
  @-webkit-keyframes fadeInRightBig {
    from {
      opacity: 0;
      -webkit-transform: translate3d(2000px, 0, 0);
              transform: translate3d(2000px, 0, 0);
    }
    to {
      opacity: 1;
      -webkit-transform: none;
              transform: none;
    }
  }
  @keyframes fadeInRightBig {
    from {
      opacity: 0;
      -webkit-transform: translate3d(2000px, 0, 0);
              transform: translate3d(2000px, 0, 0);
    }
    to {
      opacity: 1;
      -webkit-transform: none;
              transform: none;
    }
  }
  .fadeInRightBig1 {
    -webkit-animation-name: fadeInRightBig;
            animation-name: fadeInRightBig;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  .fadeInRightBig2 {
    -webkit-animation-name: fadeInRightBig;
            animation-name: fadeInRightBig;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-delay: .5s;
            animation-delay: .5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  .fadeInRightBig3 {
    -webkit-animation-name: fadeInRightBig;
            animation-name: fadeInRightBig;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  @-webkit-keyframes flash {
    from, 50%, to {
      opacity: 1;
    }
    25%, 75% {
      opacity: 0;
    }
  }
  @keyframes flash {
    from, 50%, to {
      opacity: 1;
    }
    25%, 75% {
      opacity: 0;
    }
  }
  .flash {
    -webkit-animation-name: flash;
            animation-name: flash;
    -webkit-animation-duration: .7s;
            animation-duration: .7s;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }
}

@media only screen and (min-width: 992px) {
  .intro__light--2 {
    top: 140px;
  }
}

@media only screen and (min-width: 1200px) {
  .intro {
    padding: 85px 0;
    background: url(../img/introbg.png) no-repeat;
    background-size: contain;
    background-position: right top;
  }
  .intro__heading {
    margin-bottom: 60px;
  }
  .intro__elem {
    margin-bottom: 80px;
  }
  .intro__text {
    font: 500 20px/30px "GothamPro", sans-serif;
  }
  .intro__picture {
    margin-top: 100px;
  }
  .intro__img img {
    max-width: none;
  }
  .intro__zoom {
    top: -70px;
  }
  .intro__light--1 {
    top: 125px;
    left: -40px;
  }
  .intro__light--2 {
    top: 145px;
    left: 150px;
  }
}

/* ---------------------------------------- */
/* A D V A N T A G E    S T Y L E           */
/* ---------------------------------------- */
.advantage {
  padding: 55px 0;
  background: url(../img/advantagebg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.advantage__heading {
  margin-bottom: 60px;
}

.advantage__box {
  position: relative;
  margin: 0 -5px 60px;
  background-color: white;
  -webkit-box-shadow: 0 0 0 10px #ffb71d;
          box-shadow: 0 0 0 10px #ffb71d;
  min-height: 400px;
}

.advantage__info {
  padding: 45px 15px 25px;
  min-height: 400px;
  position: relative;
  overflow: hidden;
}

.advantage__text {
  font: 500 18px/27px "GothamPro", sans-serif;
  color: #212121;
  text-align: center;
}

.advantage__icon {
  position: absolute;
  left: 50%;
  margin-left: -34px;
  top: 0;
  margin-top: -39px;
  height: 68px;
  width: 68px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #FFF;
  border: 10px solid #ffb71d;
  text-align: center;
}

.advantage__icon .fa {
  display: inline-block;
  color: #212121;
  line-height: 50px;
  font-size: 18px;
}

.advantage__image img {
  position: absolute;
  bottom: 0;
  right: -30px;
}

@media only screen and (min-width: 760px) {
  .advantage {
    padding: 90px 0;
    overflow: hidden;
  }
  .advantage__col {
    -webkit-transform: translate3d(2000px, 0, 0);
            transform: translate3d(2000px, 0, 0);
  }
  .advantage__box {
    margin: 0 -5px 20px;
  }
  .advantage__icon {
    left: 0;
    margin-left: -10px;
  }
  .advantage__image img {
    right: 0;
  }
  .advantage__light--1 {
    position: absolute;
    bottom: 63px;
    right: 250px;
  }
  .advantage__light--2 {
    position: absolute;
    bottom: 57px;
    right: 103px;
  }
}

@media only screen and (min-width: 1200px) {
  .advantage__box {
    -webkit-box-shadow: 0 0 0 10px #ffb71d;
            box-shadow: 0 0 0 10px #ffb71d;
    min-height: 420px;
    margin: 0 10px;
  }
  .advantage__info {
    padding: 45px 25px 35px;
    min-height: 420px;
  }
  .advantage__icon {
    margin-top: -35px;
  }
}

/* ---------------------------------------- */
/* R E A S O N S    S T Y L E               */
/* ---------------------------------------- */
.reason {
  padding: 50px 0 40px;
  overflow: hidden;
}

.reason__heading {
  margin-bottom: 30px;
}

.reason__box {
  margin-bottom: 20px;
}

.reason__image {
  position: relative;
  text-align: center;
  margin: 0 -15px 30px;
}

.reason__image img {
  display: inline-block;
}

.reason__image .ic {
  position: absolute;
}

.reason__image .ic--reason1 {
  right: 0;
  bottom: 0;
}

.reason__image .ic--reason2 {
  left: 0;
  bottom: 0;
}

.reason__image .ic--reason3 {
  right: 0;
  bottom: -40px;
}

.reason__image .ic--reason4 {
  left: 0;
  bottom: -15px;
}

.reason__title {
  font: 500 26px/27px "GothamPro", sans-serif;
  color: #212121;
  text-align: center;
  margin-bottom: 20px;
}

.reason__text {
  font: 400 18px/27px "GothamPro", sans-serif;
  color: #212121;
  text-align: center;
}

.reason__text--span {
  color: #fdb61d;
  font: 500 18px/27px "GothamPro", sans-serif;
}

.reason__text--hover {
  position: relative;
  display: inline-block;
  color: #fdb61d;
  font: 500 18px/27px "GothamPro", sans-serif;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.reason__text--hover:hover .reason__text--tooltip, .reason__text--hover:focus .reason__text--tooltip {
  opacity: 1;
  visibility: visible;
}

.reason__text--tooltip {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 400px;
  top: 40px;
  left: 50%;
  margin-left: -240px;
  display: block;
  background-color: #FFF;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  padding: 10px;
  font: 400 14px/20px "GothamPro", sans-serif;
  color: #212121;
}

.reason__text--tooltip:before {
  content: '';
  position: absolute;
  left: 50%;
  top: -20px;
  margin-left: -10px;
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-bottom: 20px solid #fff;
  border-right: 10px solid transparent;
}

@media only screen and (min-width: 760px) {
  .reason {
    overflow: hidden;
  }
  .reason__heading {
    margin-bottom: 60px;
  }
  .reason__box {
    padding-bottom: 60px;
    margin-bottom: 0;
    overflow: hidden;
  }
  .reason__image {
    margin: 0 0 40px;
  }
  .reason__image .ic {
    -webkit-transform: translate3d(1000px, 0, 0);
            transform: translate3d(1000px, 0, 0);
  }
  .reason__image .ic--reason1 {
    right: 72px;
  }
  .reason__image .ic--reason2 {
    left: 40px;
    bottom: -40px;
  }
  .reason__image .ic--reason3 {
    right: 40px;
  }
  .reason__image .ic--reason4 {
    left: 40px;
  }
  @-webkit-keyframes fadeInLeftBig {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-2000px, 0, 0);
              transform: translate3d(-2000px, 0, 0);
    }
    to {
      opacity: 1;
      -webkit-transform: none;
              transform: none;
    }
  }
  @keyframes fadeInLeftBig {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-2000px, 0, 0);
              transform: translate3d(-2000px, 0, 0);
    }
    to {
      opacity: 1;
      -webkit-transform: none;
              transform: none;
    }
  }
  .fadeInLeftBig {
    -webkit-animation-name: fadeInLeftBig;
            animation-name: fadeInLeftBig;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  @-webkit-keyframes fadeInRightBig {
    from {
      opacity: 0;
      -webkit-transform: translate3d(2000px, 0, 0);
              transform: translate3d(2000px, 0, 0);
    }
    to {
      opacity: 1;
      -webkit-transform: none;
              transform: none;
    }
  }
  @keyframes fadeInRightBig {
    from {
      opacity: 0;
      -webkit-transform: translate3d(2000px, 0, 0);
              transform: translate3d(2000px, 0, 0);
    }
    to {
      opacity: 1;
      -webkit-transform: none;
              transform: none;
    }
  }
  .fadeInRightBig {
    -webkit-animation-name: fadeInRightBig;
            animation-name: fadeInRightBig;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  @-webkit-keyframes bounceInUp {
    from, 60%, 75%, 90%, to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
              animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 3000px, 0);
              transform: translate3d(0, 3000px, 0);
    }
    60% {
      opacity: 1;
      -webkit-transform: translate3d(0, -20px, 0);
              transform: translate3d(0, -20px, 0);
    }
    75% {
      -webkit-transform: translate3d(0, 10px, 0);
              transform: translate3d(0, 10px, 0);
    }
    90% {
      -webkit-transform: translate3d(0, -5px, 0);
              transform: translate3d(0, -5px, 0);
    }
    to {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
  }
  @keyframes bounceInUp {
    from, 60%, 75%, 90%, to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
              animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 3000px, 0);
              transform: translate3d(0, 3000px, 0);
    }
    60% {
      opacity: 1;
      -webkit-transform: translate3d(0, -20px, 0);
              transform: translate3d(0, -20px, 0);
    }
    75% {
      -webkit-transform: translate3d(0, 10px, 0);
              transform: translate3d(0, 10px, 0);
    }
    90% {
      -webkit-transform: translate3d(0, -5px, 0);
              transform: translate3d(0, -5px, 0);
    }
    to {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
  }
  .bounceInUp {
    -webkit-animation-name: bounceInUp;
            animation-name: bounceInUp;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
}

@media only screen and (min-width: 992px) {
  .reason {
    padding-bottom: 40px;
  }
  .reason__image {
    margin-bottom: 0;
  }
  .reason__image .ic--reason1 {
    right: 0;
  }
  .reason__image .ic--reason2 {
    left: 0;
  }
  .reason__image .ic--reason3 {
    right: -30px;
  }
  .reason__image .ic--reason4 {
    left: 0;
    bottom: -30px;
  }
  .reason__text--tooltip {
    top: 50%;
    left: 120%;
    margin-top: -90px;
    margin-left: 0;
  }
  .reason__text--tooltip:before {
    top: 50%;
    left: 0;
    margin-top: -10px;
    margin-left: -30px;
    border-top: 10px solid transparent;
    border-right: 20px solid #fff;
    border-bottom: 10px solid transparent;
  }
}

@media only screen and (min-width: 1200px) {
  .reason__title {
    font: 500 30px/45px "GothamPro", sans-serif;
    margin-bottom: 30px;
    text-align: left;
  }
  .reason__text {
    text-align: left;
  }
}

/* ---------------------------------------- */
/* D E T A I L    S T Y L E                 */
/* ---------------------------------------- */
.detail {
  background: url(../img/detailbg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-bottom: 40px;
}

.detail__heading {
  padding-top: 50px;
  margin-bottom: 25px;
}

.detail__subheading {
  font: 500 18px/27px "GothamPro", sans-serif;
  color: #fff;
  margin-bottom: 25px;
  text-align: center;
}

.detail__text {
  font: 700 18px/27px "GothamPro", sans-serif;
  color: #ffb71d;
  text-align: center;
  margin-bottom: 20px;
}

.detail__info {
  font: 400 14px/21px "GothamPro", sans-serif;
  color: #fff;
  text-align: center;
  margin-top: 15px;
}

.detail__info--color {
  display: inline-block;
  font: 500 14px/21px "GothamPro", sans-serif;
  color: #ffb71d;
}

@media only screen and (min-width: 760px) {
  .detail {
    padding-bottom: 70px;
  }
  .detail__heading {
    padding-top: 90px;
    margin-bottom: 60px;
    text-align: left;
  }
  .detail__subheading {
    font: 500 20px/30px "GothamPro", sans-serif;
    text-align: left;
    margin-bottom: 30px;
  }
  .detail__text {
    font: 700 20px/30px "GothamPro", sans-serif;
    text-align: left;
    margin-bottom: 25px;
  }
  .detail__image {
    position: relative;
  }
  .detail__image img {
    position: absolute;
    top: 0;
    left: 0;
  }
  .detail__register {
    position: relative;
    margin-top: 40px;
  }
  .detail__register:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #FFF;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    top: 30px;
    left: 0;
  }
  .detail__flag {
    text-align: center;
  }
  .detail__flag .ic--flagcolor {
    display: none;
  }
  .detail__flag--active .ic--flag {
    display: none;
  }
  .detail__flag--active .ic--flagcolor {
    display: inline-block;
  }
}

@media only screen and (min-width: 992px) {
  .detail__heading {
    margin-bottom: 30px;
  }
  .detail__subheading {
    font: 500 24px/36px "GothamPro", sans-serif;
  }
  .detail__text {
    font: 700 24px/36px "GothamPro", sans-serif;
  }
}
