- var page = {}
- var hostname = "/" //- site domen name

- 
  var content = 
    {
      site: {
        hostname: hostname, //- site domen name
        author: "Tagopen",
        meta: {
          charset: "utf-8",
          favicon: "favicon.png",
          appleTouchIcon: "apple-touch-icon.png"
        },
        nav: {
          links: [
            {
              href: "/link1",
              displayName: "Link 1"
            },

            {
              href: "/link2",
              displayName: "Link 2"
            }
          ]
        },
        navRight: {
          links: [
            {
              href: "/link3",
              displayName: "Link 3"
            },

            {
              href: "/link4",
              displayName: "Link 4"
            },
          ]
        }
      }, //- site
      index: {
        hostname: "index.html",
        title: "Главная страница",
        meta: {
          description: "",
          keywords: "",
          openGraph: {
            title: "Site name",
            siteName: "Site name",
            description: "Описание сайта",
            type: "website",
            locale: "ru_RU",
            image: "microformat.png",
            imageType: "image/png",
            url: hostname
          },
          twitter: {
            card: "summary",
            site: "@flickr",
            title: "My Site",
            description: "My Site is cool",
            image: hostname + "/img/logo/microformat.png"
          }
        },
        intro: {
          heading: "Что такое тур по авторынкам Европы",
          items: [
            {
              img: {
                src: "img/search.svg",
                alt: "Иконка"
              },
              text: "Мы проводим туры по лучшим авторынкам и автоплощадкам Европы, где вы самостоятельно выбираете себе автомобиль."
            },
            {
              img: {
                src: "img/auto.svg",
                alt: "Иконка"
              },
              text: "Наши эксперты консультируют вас, проверяют состояние машины специальными оборудованием, помогают совершить покупку, оформить все документы и доставить автомобиль в Украину!"
            }
          ],
          auto1: "img/intro1.png",
          auto2: "img/intro2.png",
          auto3: "img/intro3.png",
          zoom: "img/introzoom.png"  
        },
        advantage: {
          heading: "Наши услуги будут вам полезны, если вы:",
          text1: "Думаете о покупке автомобиля в хорошем состоянии в Украине или Европе",
          text2: "Хотите приобрести автомобиль из Европы и сделать растаможку, чтобы ездить на украинских номерах",
          text3: "Хотите пригнать машину из Европы и ездить на европейских номерах",
          image1: "img/advantage1.png",
          image2: "img/advantage2.png",
          image3: "img/advantage3.png"
        },
        reasons: {
          heading: "4 причины почему наши туры лучше, чем услуги перегонщика",
          items: [
            {
              animation: "fadeInLeftBig",
              image: {
                src: "img/reason1.png",
                alt: "Причина",
              },  
              image320: "img/reason1-320.png",
              title: "Экономия ваших денег",
              text: "Услуга доставки автомобиля из Европы порой достигает 1500 евро! А за участие в автотуре вы платите всего 200 евро! При этом вы самостоятельно выберите автомобиль, будете уверены в его исправности и цене, а также получите положительные эмоции от путешествия по Европе!"
            },
            {
              animation: "fadeInRightBig",
              image: {
                src: "img/reason2.png",
                alt: "",
              },  
              image320: "img/reason2-320.png",
              title: "Защищаем вас от 20% наценки на автомобиль",
              text: "Когда вы покупаете автомобиль лично, в Европе, то вы защищены от риска, <span class=\"reason__text--span\">переплатить значительную сумму</span> перегонщику авто! Вы платите продавцу машины фактическую стоимость! А как поступают перегонщики? Помимо стоимости перегона они делают дополнительную наценку на машину в районе 10-20%. Так они зарабатывают ещё больше."
            },
            {
              animation: "fadeInLeftBig",
              image: {
                src: "img/reason3.png",
                alt: "",
              },  
              image320: "img/reason3-320.png",
              title: "Перегонщики могут скручивать пробег",
              text: "Малоизвестные перегонщики могут скручивать одометр и снижать пробег авто на 100-300 тыс. км. Как следствие, уже через 1000-3000 км езды после покупки, в вашем автомобиле начнут возникать неисправности. В нашем туре мы проверяем выбранный вами автомобиль с помощью специального оборудования. Оно позволяет выявить неисправности машины ещё до совершения сделки! Проверяем реальный пробег, битая машина или нет, была ли крашена, отслеживаем по автомобильным базам и прочее."
            },
            {
              animation: "fadeInRightBig",
              image: {
                src: "img/reason4.png",
                alt: "",
              },  
              image320: "img/reason4-320.png",
              title: "Для временного улучшения работы двигателя перегонщики добавляют присадки",
              text: "Заказывая пригон у непроверенных перегонщиков есть риск получить неисправный автомобиль. Они могут добавлять <div class=\"reason__text--hover\">присадки <i class=\"ic ic--question hidden-sm-down\"></i><span class=\"reason__text--tooltip hidden-sm-down\">Присадки для двигателя — это вещество по типу смазки, которое добавляется в моторное масло для достижения различных целей. Например, для реставрации внутренней поверхности двигателя, который имеет большой пробег. Они призваны закрыть мелкие трещины в стенках цилиндра и тем самым повысить компрессию и мощность двигателя.</span></div> в двигатель или коробку передач, за счет которых машина начинает работать лучше. Но положительный эффект длиться недолго, и через пару недель вы заметите неисправности автомобиля. Перегонщикам главное, чтобы на момент передачи вам автомобиля он был в идеальном состоянии, а что будет с ним через месяц - их уже не интересует."
            }
          ]
        },
        detail: {
          heading: "Узнайте все подробности тура",
          subheading: "Узнайте все детали о проведении тура! Укажите свой телефона и вам перезвонит наш специалист по организации поездок.",
          text: "Только на этой неделе! Дарим толщиномер, всем кто примет участие в туре, который стартует 18 августа!",
          btn: "Узнать об участии в туре",
          car: {
            animation: "FadeInLeftBigCar"
          },
          image: {
            animation: "FadeInUpBigImg"
          },
          img: {
            src: "img/detailic2.png",
            alt: "Прибор"
          },
          img2: {
            src: "img/detailic1.png",
            alt: "Прибор"
          },
          info: "В тур на этой неделе записались: <div class=\"detail__info--color\"><span class=\"detail__info--number\">4</span> из 6 человек</div>"
        },
        tour: {
          heading: "Как проходит тур по автоплощадкам?",
          img320: {
            src: "img/tourcars.png",
            alt: "Авто"
          },
          tooltip: "На всех этапах наши эксперты ответят на ваши вопросы и дадут рекомендации!",
          top: [
            {
              text: "Выезжаем в пятницу вечером на микроавтобусе, с комфортными сиденьямии кондиционерами. С субботы начинаем посещение авторынков и автоплощадок.",
              number: "1.",
              animate: "bounceInUp1"
            },
            {
              text: "Помогаем в поиске автомобиля, соответствующего вашим требованиям, проводим осмотр и диагностику машины на СТО",
              number: "2.",
              animate: "bounceInUp2"
            }
          ],
          with: {
            animation: "tourTitleFadeInLeft",
            title: "Под растаможку",
            content: [
              {
                text: "Помогаем в оформлении документов для пересечения границы",
                number: "3.",
                animation: "tourFadeInLeft1"
              },
              {
                text: "Доставка автомобиля в Украину, прохождение таможни и пересечение границ",
                number: "4.",
                animation: "tourFadeInLeft2"
              },
              {
                text: "Предоставляем выгодную цену от проверенных брокеров",
                number: "5.",
                animation: "tourFadeInLeft3"
              }
            ]
          },
          without: {
            animation: "tourTitleFadeInRight",
            title: "Без растаможки",
            content: [
              {
                text: "Оформляем покупку автомобиля при помощи нашего представителя и проходим ТО",
                number: "3.",
                animation: "tourFadeInRight1"
              },
              {
                text: "Помогаем в оформлении страховки и получении “Зелёной карты",
                number: "4.",
                animation: "tourFadeInRight2"
              },
              {
                text: "Регистрируем автомобиль в порядке предусмотренном процедурой того государства, в котором была произведена сделка и оформление страховки",
                number: "5.",
                animation: "tourFadeInRight3"
              },
              {
                text: "Регистрируем автомобиль на Вас. Помогаем с ввозом автомобиля с временным транзитом на 1 год",
                number: "6.",
                animation: "tourFadeInRight4"
              }
            ]
          }
        },
        comment: {
          heading: "Отзывы клиентов",
          items: [
            {
              img: {
                src: "img/comment1.jpg",
                alt: "Авто"
              },
              author: "Имя Фамилия",
              product: "Mercedes S class",
              text: "This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.",
              btn: {
                text: "Видео отзыв"
              }
            },
            {
              img: {
                src: "img/comment1.jpg",
                alt: "Авто"
              },
              author: "Имя Фамилия",
              product: "Mercedes S class",
              text: "This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.",
              btn: {
                text: "Видео отзыв"
              }
            },
            {
              img: {
                src: "img/comment1.jpg",
                alt: "Авто"
              },
              author: "Имя Фамилия",
              product: "Mercedes S class",
              text: "This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.",
              btn: {
                text: "Видео отзыв"
              }
            }
          ]
        },
        work: {
          heading: "Компания Rolidas работает с 2012 года",
          img: {
            src: "img/work.png",
            alt: "Авто",
            animation: "workZoomInUp"
          },
          points: [
            {
              animation: "workFadeInRight",
              text: "За 5 лет доставили более 2000 машин из Европы"
            },
            {
              animation: "workFadeInRight",
              text: "Являемся экспертами в области таможни, подборе автомобилей и их доставки на территорию Украины"
            },
            {
              animation: "workFadeInRight",
              text: "Оказываем техническую и юридическую поддержку в течении всего срока эксплуатации авто"
            }
          ]
        },
        map: {
          text: "г. Ровно, ул. Княгини Ольги 5, офис 308",
          btn: "Хотите мы вам перезвоним?"
        },
        footer: {
          text: "Помогаем приобрести автомобиль из Европы",
          creater: "Сделано с душой студией",
          numbers: [
            {
              text: "091 234 45 67",
              href: "tel\:0912344567"
            },
            {
              text: "091 234 45 67",
              href: "tel\:0912344567"
            }
          ]
        }
      }, //- index
    }