section.advantage
  .container
    .row.justify-content-center
      .col-24.col-md-20.col-lg-18
        h2.heading.heading--white.advantage__heading!=content.index.advantage.heading
    .row.justify-content-center
      .col-24.col-md-12.col-lg-8
        .advantage__box
          .advantage__text!=content.index.advantage.text1
          .advantage__image
            img(src!=content.index.advantage.image1)
          .advantage__icon
            i.fa.fa-check(aria-hidden="true")
      .col-24.col-md-12.col-lg-8
        .advantage__box
          .advantage__text!=content.index.advantage.text2
          .advantage__image
            img(src!=content.index.advantage.image2)
            i.ic.ic--light.advantage__light--1.hidden-sm-down.animate(data-animation="flash")
            i.ic.ic--light.advantage__light--1.hidden-sm-down.animate(data-animation="flash")  
          .advantage__icon
            i.fa.fa-check(aria-hidden="true")
      .col-24.col-md-12.col-lg-8
        .advantage__box
          .advantage__text!=content.index.advantage.text3
          .advantage__image
            img(src!=content.index.advantage.image3)
          .advantage__icon
            i.fa.fa-check(aria-hidden="true")
               