section#gallery.gallery
  .container-fluid
    .row
      .col-12.col-md-6.col-lg-3.gallery__col
        a.gallery__video.gallery__video--1(data-toggle='modal', href='#video__modal1')
          .gallery__icon
            i.fa.fa-play(aria-hidden='true')
          i.ic.ic--video    
      .col-12.col-md-6.col-lg-3.gallery__col
        a.gallery__video.gallery__video--2(data-toggle='modal', href='#video__modal2')
          .gallery__icon
            i.fa.fa-play(aria-hidden='true')
          i.ic.ic--video    
      .col-12.col-md-6.col-lg-3.gallery__col
        a.gallery__video.gallery__video--3(data-toggle='modal', href='#video__modal3')
          .gallery__icon
            i.fa.fa-play(aria-hidden='true')
          i.ic.ic--video    
      .col-12.col-md-6.col-lg-3.gallery__col
        a.gallery__video.gallery__video--4(data-toggle='modal', href='#video__modal4')
          .gallery__icon
            i.fa.fa-play(aria-hidden='true')
          i.ic.ic--video    
      .col-12.col-md-6.col-lg-3.gallery__col
        a.gallery__video.gallery__video--5(data-toggle='modal', href='#video__modal5')
          .gallery__icon
            i.fa.fa-play(aria-hidden='true')
          i.ic.ic--video    
      .col-12.col-md-6.col-lg-3.gallery__col
        a.gallery__video.gallery__video--6(data-toggle='modal', href='#video__modal6')
          .gallery__icon
            i.fa.fa-play(aria-hidden='true')
          i.ic.ic--video    
      .col-12.col-md-6.col-lg-3.gallery__col
        a.gallery__video.gallery__video--7(data-toggle='modal', href='#video__modal7')
          .gallery__icon
            i.fa.fa-play(aria-hidden='true')
          i.ic.ic--video    
      .col-12.col-md-6.col-lg-3.gallery__col
        a.gallery__video.gallery__video--8(data-toggle='modal', href='#video__modal8')
          .gallery__icon
            i.fa.fa-play(aria-hidden='true')
          i.ic.ic--video    
      .col-12.col-md-6.col-lg-3.gallery__col
        .gallery__box
          a.gallery__link.fancybox.gallery__link--1(rel='group', data-fancybox='images', href='img/gallery1.jpg')
      .col-12.col-md-6.col-lg-3.gallery__col
        .gallery__box
          a.gallery__link.fancybox.gallery__link--2(rel='group', data-fancybox='images', href='img/gallery2.jpg')
      .col-12.col-md-6.col-lg-3.gallery__col
        .gallery__box
          a.gallery__link.fancybox.gallery__link--3(rel='group', data-fancybox='images', href='img/gallery3.jpg')
      .col-12.col-md-6.col-lg-3.gallery__col
        .gallery__box
          a.gallery__link.fancybox.gallery__link--4(rel='group', data-fancybox='images', href='img/gallery4.jpg')
      .col-12.col-md-6.col-lg-3.gallery__col
        .gallery__box
          a.gallery__link.fancybox.gallery__link--5(rel='group', data-fancybox='images', href='img/gallery5.jpg')
      .col-12.col-md-6.col-lg-3.gallery__col
        .gallery__box
          a.gallery__link.fancybox.gallery__link--6(rel='group', data-fancybox='images', href='img/gallery6.jpg')
      .col-12.col-md-6.col-lg-3.gallery__col
        .gallery__box
          a.gallery__link.fancybox.gallery__link--7(rel='group', data-fancybox='images', href='img/gallery7.jpg')
      .col-12.col-md-6.col-lg-3.gallery__col
        .gallery__box
          a.gallery__link.fancybox.gallery__link--8(rel='group', data-fancybox='images', href='img/gallery8.jpg')
      .col-12.col-md-6.col-lg-3.gallery__col
        .gallery__box
          a.gallery__link.fancybox.gallery__link--9(rel='group', data-fancybox='images', href='img/gallery9.jpg')
      .col-12.col-md-6.col-lg-3.gallery__col
        .gallery__box
          a.gallery__link.fancybox.gallery__link--10(rel='group', data-fancybox='images', href='img/gallery10.jpg')
      .col-12.col-md-6.col-lg-3.gallery__col
        .gallery__box
          a.gallery__link.fancybox.gallery__link--11(rel='group', data-fancybox='images', href='img/gallery11.jpg')
      .col-12.col-md-6.col-lg-3.gallery__col
        .gallery__box
          a.gallery__link.fancybox.gallery__link--12(rel='group', data-fancybox='images', href='img/gallery12.jpg')
      .col-12.col-md-6.col-lg-3.gallery__col
        .gallery__box
          a.gallery__link.fancybox.gallery__link--13(rel='group', data-fancybox='images', href='img/gallery13.jpg')
      .col-12.col-md-6.col-lg-3.gallery__col
        .gallery__box
          a.gallery__link.fancybox.gallery__link--14(rel='group', data-fancybox='images', href='img/gallery14.jpg')
      .col-12.col-md-6.col-lg-3.gallery__col
        .gallery__box
          a.gallery__link.fancybox.gallery__link--15(rel='group', data-fancybox='images', href='img/gallery15.png')
      .col-12.col-md-6.col-lg-3.gallery__col
        .gallery__box
          a.gallery__link.fancybox.gallery__link--16(rel='group', data-fancybox='images', href='img/gallery16.jpg')
