header.header.header--success
  .container.header__container
    .row.header__row
      .success.align-self-center
        .col-24
          .row.justify-content-center
            .col-24.col-md-18.col-lg-12
              .success__title Спасибо, что обратились в компанию Rolidas!
              .success__text Скоро с Вами свяжется наш эксперт.
            .col-24
              .success__image
                img.img-fluid(src='img/success.png', alt='Авто')
