section.reason
  .container
    .row.justify-content-center
      .col-24.col-lg-18
        h2.heading.reason__heading!=content.index.reasons.heading  
    .row
      .col-24
        each item, i in content.index.reasons.items 
          .reason__box.animate(data-animation!=item.animation)
            .row.align-items-center(class={"flex-lg-row-reverse" : i%2 === 1})
              .col-24.col-lg-13.col-xl-12()     
                .reason__image
                  img.img-fluid.hidden-sm-down(src!=item.image.src, alt!=item.image.alt)
                  img.hidden-md-up(src!=item.image320, alt!=item.image.alt)  
                  i.ic.animate(class="ic--reason"+(i+1), data-animation="bounceInUp")  
              .col-24.col-lg-11.col-xsl-12 
                .reason__info
                  .reason__title!=item.title
                  .reason__text!=item.text
                  .reason__icon
