// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$cars-name: 'cars'
$cars-x: 665px
$cars-y: 0px
$cars-offset-x: -665px
$cars-offset-y: 0px
$cars-width: 554px
$cars-height: 165px
$cars-total-width: 1219px
$cars-total-height: 1168px
$cars-image: 'sprite.png'
$cars: (665px, 0px, -665px, 0px, 554px, 165px, 1219px, 1168px, 'sprite.png', 'cars', )
$check-name: 'check'
$check-x: 1175px
$check-y: 441px
$check-offset-x: -1175px
$check-offset-y: -441px
$check-width: 30px
$check-height: 31px
$check-total-width: 1219px
$check-total-height: 1168px
$check-image: 'sprite.png'
$check: (1175px, 441px, -1175px, -441px, 30px, 31px, 1219px, 1168px, 'sprite.png', 'check', )
$detailcar-name: 'detailcar'
$detailcar-x: 665px
$detailcar-y: 749px
$detailcar-offset-x: -665px
$detailcar-offset-y: -749px
$detailcar-width: 142px
$detailcar-height: 56px
$detailcar-total-width: 1219px
$detailcar-total-height: 1168px
$detailcar-image: 'sprite.png'
$detailcar: (665px, 749px, -665px, -749px, 142px, 56px, 1219px, 1168px, 'sprite.png', 'detailcar', )
$flag-name: 'flag'
$flag-x: 1011px
$flag-y: 385px
$flag-offset-x: -1011px
$flag-offset-y: -385px
$flag-width: 35px
$flag-height: 40px
$flag-total-width: 1219px
$flag-total-height: 1168px
$flag-image: 'sprite.png'
$flag: (1011px, 385px, -1011px, -385px, 35px, 40px, 1219px, 1168px, 'sprite.png', 'flag', )
$flagcolor-name: 'flagcolor'
$flagcolor-x: 1056px
$flagcolor-y: 385px
$flagcolor-offset-x: -1056px
$flagcolor-offset-y: -385px
$flagcolor-width: 35px
$flagcolor-height: 40px
$flagcolor-total-width: 1219px
$flagcolor-total-height: 1168px
$flagcolor-image: 'sprite.png'
$flagcolor: (1056px, 385px, -1056px, -385px, 35px, 40px, 1219px, 1168px, 'sprite.png', 'flagcolor', )
$katalog1-name: 'katalog1'
$katalog1-x: 0px
$katalog1-y: 1020px
$katalog1-offset-x: 0px
$katalog1-offset-y: -1020px
$katalog1-width: 170px
$katalog1-height: 148px
$katalog1-total-width: 1219px
$katalog1-total-height: 1168px
$katalog1-image: 'sprite.png'
$katalog1: (0px, 1020px, 0px, -1020px, 170px, 148px, 1219px, 1168px, 'sprite.png', 'katalog1', )
$katalog2-name: 'katalog2'
$katalog2-x: 1089px
$katalog2-y: 597px
$katalog2-offset-x: -1089px
$katalog2-offset-y: -597px
$katalog2-width: 102px
$katalog2-height: 89px
$katalog2-total-width: 1219px
$katalog2-total-height: 1168px
$katalog2-image: 'sprite.png'
$katalog2: (1089px, 597px, -1089px, -597px, 102px, 89px, 1219px, 1168px, 'sprite.png', 'katalog2', )
$light-name: 'light'
$light-x: 398px
$light-y: 841px
$light-offset-x: -398px
$light-offset-y: -841px
$light-width: 109px
$light-height: 67px
$light-total-width: 1219px
$light-total-height: 1168px
$light-image: 'sprite.png'
$light: (398px, 841px, -398px, -841px, 109px, 67px, 1219px, 1168px, 'sprite.png', 'light', )
$light1-name: 'light1'
$light1-x: 976px
$light1-y: 597px
$light1-offset-x: -976px
$light1-offset-y: -597px
$light1-width: 103px
$light1-height: 97px
$light1-total-width: 1219px
$light1-total-height: 1168px
$light1-image: 'sprite.png'
$light1: (976px, 597px, -976px, -597px, 103px, 97px, 1219px, 1168px, 'sprite.png', 'light1', )
$light2-name: 'light2'
$light2-x: 865px
$light2-y: 597px
$light2-offset-x: -865px
$light2-offset-y: -597px
$light2-width: 101px
$light2-height: 99px
$light2-total-width: 1219px
$light2-total-height: 1168px
$light2-image: 'sprite.png'
$light2: (865px, 597px, -865px, -597px, 101px, 99px, 1219px, 1168px, 'sprite.png', 'light2', )
$light3-name: 'light3'
$light3-x: 665px
$light3-y: 175px
$light3-offset-x: -665px
$light3-offset-y: -175px
$light3-width: 336px
$light3-height: 256px
$light3-total-width: 1219px
$light3-total-height: 1168px
$light3-image: 'sprite.png'
$light3: (665px, 175px, -665px, -175px, 336px, 256px, 1219px, 1168px, 'sprite.png', 'light3', )
$light4-name: 'light4'
$light4-x: 865px
$light4-y: 441px
$light4-offset-x: -865px
$light4-offset-y: -441px
$light4-width: 300px
$light4-height: 146px
$light4-total-width: 1219px
$light4-total-height: 1168px
$light4-image: 'sprite.png'
$light4: (865px, 441px, -865px, -441px, 300px, 146px, 1219px, 1168px, 'sprite.png', 'light4', )
$modallight-name: 'modallight'
$modallight-x: 0px
$modallight-y: 0px
$modallight-offset-x: 0px
$modallight-offset-y: 0px
$modallight-width: 655px
$modallight-height: 831px
$modallight-total-width: 1219px
$modallight-total-height: 1168px
$modallight-image: 'sprite.png'
$modallight: (0px, 0px, 0px, 0px, 655px, 831px, 1219px, 1168px, 'sprite.png', 'modallight', )
$phone-name: 'phone'
$phone-x: 1155px
$phone-y: 385px
$phone-offset-x: -1155px
$phone-offset-y: -385px
$phone-width: 17px
$phone-height: 18px
$phone-total-width: 1219px
$phone-total-height: 1168px
$phone-image: 'sprite.png'
$phone: (1155px, 385px, -1155px, -385px, 17px, 18px, 1219px, 1168px, 'sprite.png', 'phone', )
$question-name: 'question'
$question-x: 1182px
$question-y: 385px
$question-offset-x: -1182px
$question-offset-y: -385px
$question-width: 16px
$question-height: 16px
$question-total-width: 1219px
$question-total-height: 1168px
$question-image: 'sprite.png'
$question: (1182px, 385px, -1182px, -385px, 16px, 16px, 1219px, 1168px, 'sprite.png', 'question', )
$reason1-name: 'reason1'
$reason1-x: 665px
$reason1-y: 441px
$reason1-offset-x: -665px
$reason1-offset-y: -441px
$reason1-width: 190px
$reason1-height: 298px
$reason1-total-width: 1219px
$reason1-total-height: 1168px
$reason1-image: 'sprite.png'
$reason1: (665px, 441px, -665px, -441px, 190px, 298px, 1219px, 1168px, 'sprite.png', 'reason1', )
$reason2-name: 'reason2'
$reason2-x: 207px
$reason2-y: 841px
$reason2-offset-x: -207px
$reason2-offset-y: -841px
$reason2-width: 181px
$reason2-height: 146px
$reason2-total-width: 1219px
$reason2-total-height: 1168px
$reason2-image: 'sprite.png'
$reason2: (207px, 841px, -207px, -841px, 181px, 146px, 1219px, 1168px, 'sprite.png', 'reason2', )
$reason3-name: 'reason3'
$reason3-x: 0px
$reason3-y: 841px
$reason3-offset-x: 0px
$reason3-offset-y: -841px
$reason3-width: 197px
$reason3-height: 169px
$reason3-total-width: 1219px
$reason3-total-height: 1168px
$reason3-image: 'sprite.png'
$reason3: (0px, 841px, 0px, -841px, 197px, 169px, 1219px, 1168px, 'sprite.png', 'reason3', )
$reason4-name: 'reason4'
$reason4-x: 1011px
$reason4-y: 175px
$reason4-offset-x: -1011px
$reason4-offset-y: -175px
$reason4-width: 189px
$reason4-height: 200px
$reason4-total-width: 1219px
$reason4-total-height: 1168px
$reason4-image: 'sprite.png'
$reason4: (1011px, 175px, -1011px, -175px, 189px, 200px, 1219px, 1168px, 'sprite.png', 'reason4', )
$video-name: 'video'
$video-x: 517px
$video-y: 841px
$video-offset-x: -517px
$video-offset-y: -841px
$video-width: 90px
$video-height: 67px
$video-total-width: 1219px
$video-total-height: 1168px
$video-image: 'sprite.png'
$video: (517px, 841px, -517px, -841px, 90px, 67px, 1219px, 1168px, 'sprite.png', 'video', )
$well-name: 'well'
$well-x: 1101px
$well-y: 385px
$well-offset-x: -1101px
$well-offset-y: -385px
$well-width: 44px
$well-height: 24px
$well-total-width: 1219px
$well-total-height: 1168px
$well-image: 'sprite.png'
$well: (1101px, 385px, -1101px, -385px, 44px, 24px, 1219px, 1168px, 'sprite.png', 'well', )
$spritesheet-width: 1219px
$spritesheet-height: 1168px
$spritesheet-image: 'sprite.png'
$spritesheet-sprites: ($cars, $check, $detailcar, $flag, $flagcolor, $katalog1, $katalog2, $light, $light1, $light2, $light3, $light4, $modallight, $phone, $question, $reason1, $reason2, $reason3, $reason4, $video, $well, )
$spritesheet: (1219px, 1168px, 'sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
